<form [formGroup]="form">
  <h2>Téléchargement vidéos depuis youtube</h2>
  <div class="input-button">
    <input
      (change)="getVideoInfos()"
      class="url"
      formControlName="url"
      placeholder="Entrez l'url de la vidéo"
    />
    <button (click)="onSubmit()">Télécharger</button>
  </div>

  <div *ngIf="isDownloading">📥 Téléchargement en cours...</div>

  <div class="video-infos" *ngIf="infos.title != ''">
    <div *ngIf="infos.thumbnail"><img [src]="infos.thumbnail" /></div>
    <div *ngIf="infos.title">🎵 Titre : {{ infos.title }}</div>
    <div *ngIf="infos.duration">⏱️ Durée : {{ infos.duration | duration }}</div>
    <div *ngIf="infos.filesize_approx">
      💾 Taille estimée : {{ infos.filesize_approx }} mb
    </div>
    <div *ngIf="infos.uploader">
      📺 Auteur de la vidéo : {{ infos.uploader }}
    </div>
  </div>

  <div class="options">
    <select formControlName="option" name="option">
      <option *ngFor="let option of options" [value]="option.value">
        {{ option.label }}
      </option>
    </select>

    <select formControlName="format">
      <option *ngFor="let type of availableFormats" [value]="type">
        {{ type }}
      </option>
    </select>
  </div>
</form>
