<app-titre [titre]="'PARCOURS PROFESSIONNEL'"></app-titre>

<app-parcours
  [titre]="'Developpeur web fullstack'"
  [dates]="'2021 - 2023'"
  [lieu]="'Sopra Steria - Limonest & Aix en Provence'"
  [description]="
    'Réalisation de projets informatiques. Poste de développeur et de scrum master'
  "
></app-parcours>

<app-parcours
  [titre]="'Stagiaire Developpeur web'"
  [dates]="'2021'"
  [lieu]="'Le Cèdre, Paray le Monial'"
  [description]="'Réalisation d outils internes pour l entreprise le Cèdre'"
></app-parcours>

<app-parcours
  [titre]="'Stagiaire Developpeur web'"
  [dates]="'2019'"
  [lieu]="'Le Cèdre, Paray le Monial'"
  [description]="'Réalisation d outils internes pour l entreprise le Cèdre'"
></app-parcours>
