<app-titre [titre]="'FORMATION INITIALE'"></app-titre>

<app-parcours
  [titre]="'Epitech'"
  [dates]="'2016 - 2021'"
  [lieu]="'Montpellier'"
  [description]="'Ecole de programmation'"
></app-parcours>

<app-parcours
  [titre]="'College & Lycée général Ste Jeanne dArc'"
  [dates]="'2011 - 2016'"
  [lieu]="'Paray le Monial'"
  [description]="''"
></app-parcours>

<app-parcours
  [titre]="'College Hautefeuille'"
  [dates]="'2009 - 2011'"
  [lieu]="'Courbevoie'"
  [description]="''"
></app-parcours>
