<app-titre [titre]="'ASSOCIATIONS'"></app-titre>

<div class="association">
  Volontaire au Chili pour l'association Misericordia de Octobre 2024 à
  Septembre 2026. Réalisation de plusieurs projets solidaires : soutien
  scolaires aux enfants en nécessité, visite de personnes seules dans le
  quartier, atelier pour sans abris...
</div>

<div class="association">
  Dans l'association scoute d'Europe rôle de responsable technique de la branche
  nautique pour tout le mouvement Français de 2022 à 2024. De 2017 à 2021
  responsabilité de chef de troupe, qui encadre entre 10 et 20 garçons durant
  toutes les activités de l'année et dans leur progression technique.
</div>
