<app-project
  [name]="'Téléchargement de videos youtube'"
  [url]="'/yt-download'"
></app-project>

<app-project
  [name]="'Space invaders'"
  [url]="'/games/space-invaders'"
></app-project>

<ul>
  <li>To Do list</li>
  <li>Constructeur de CV</li>
  <li>Compresseur de fichier (un truc du genre)</li>
  <li>Remove background</li>
  <li>tetris</li>
  <li>doodle jump</li>
  <li>réseau social style familéo</li>
  <li>Partitions guitare que je joue</li>
  <li>whatsapp</li>
  <li>Systeme de Login sur le site afin de limiter les accès pour les gens</li>
  <li>Gatcha</li>
  <li>
    Truc utilisant une API (ou plusieurs) pour suivre des données ou truc du
    genre =>
    https://talks.freelancerepublik.com/api-publiques-gratuites-developpement-site-app/
  </li>
  <li>truc de trading</li>
  <li>jeux style hero war ou truc du genre des pubs</li>
</ul>
