<ul>
  <li>To Do list</li>
  <li>Téléchargement de videos youtube</li>
  <li>Constructeur de CV</li>
  <li>Compresseur de fichier (un truc du genre)</li>
  <li>Remove background</li>
  <li>tetris</li>
  <li>doodle jump</li>
  <li>space invaders</li>
  <li>réseau social style familéo</li>
  <li>Partitions guitare que je joue</li>
  <li>whatsapp</li>
  <li>Systeme de Login sur le site afin de limiter les accès pour les gens</li>
  <li>Gatcha</li>
  <li>
    Truc utilisant une API (ou plusieurs) pour suivre des données ou truc du
    genre
  </li>
  <li>truc de trading</li>
</ul>
