.parcours {
  font-size: 12px;
  margin-bottom: 20px;

  .title-parcours {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    b {
      font-size: 14px;
    }
  }

  .lieu {
    margin-bottom: 5px;
  }
}
