<div class="contact-card">
  <img class="photo" src="assets/Augustin.jpeg" />
  <div class="contact-content">
    <h2>Augustin Leconte</h2>

    <p><i>Developpeur web fullstack</i></p>
    <p class="infos">
      <span class="info">Montelimar, France</span>
      <span class="info">augustin&#64;familleleconte.fr</span>
      <span class="info">Tel: +33648336579</span>
    </p>
  </div>
</div>
<div class="social-buttons">
  <a
    href="https://web.facebook.com/profile.php?id=100009416653617l"
    target="_blank"
    class="btn facebook"
  >
    <i class="fab fa-facebook-f"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/augustin-leconte/"
    target="_blank"
    class="btn facebook"
  >
    <i class="fab fa-linkedin-in"></i>
  </a>
</div>
<div class="border"></div>
